* {
    font-family: 'Lato', sans-serif;
    margin:0px;    
  }
  
  .barra-navegacao{
    position: fixed;
    width: 100%;
    z-index: 99;

  }
  .cabecalho{
    padding: 10px 0 10px 0;
    background-image: linear-gradient(to top, #853ef2, #8315f4,  black);
    width: 100%;  
    color: #fff;  
    box-shadow: 3px 3px 8px black;
  }

  .cabecalho-quemsomos{
    padding: 10px 0 10px 0;
    background-image: linear-gradient(to top, #853ef2, black);
    width: 100%;  
    color: #fff;  
    box-shadow: 3px 3px 8px black;
  }
  
  p{
    font-size:medium;
    text-align: center;
    padding: 0 10px 0 10px;
  }
  
  h6{
    margin: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  h3{
    text-align: center;
    text-shadow: 5px;
    font-style: italic;   
  }

  .video{
    margin-top: 20px;
    text-align: center;
  }


.fontebranca {
    color: #fff;
}

.fundoindigo {
  background-color: #40026C;
  color: #fff;
}

.fundochocolate {
  background-color: #191308;
  color: #fff;
}

.fundochocolate a:hover {
  background-color: #d72638;
  color: #fff;
}

.row{
  display: flex;
  justify-content:center;
  text-align: center;
  margin: 20px;  
  padding-bottom: 15px;
}

.card-img-top{
  margin-top: 8px;
  border-radius: 90%;
  border-style:solid;
 }
 
.card-body{
  font-family: 'Lato', sans-serif;
  text-align: center;   
  box-shadow: 10px;
  padding: 0 2px 4px 2px;
}
.card-text{
  text-align: center;
  
}

.rodape{
  background-image: linear-gradient(to top, #4b484e, #dbd9d9) ;
  text-align: center;
  color: black;
  padding: 1px 0 3px 0;
  margin-top: 5px;  
  
}

.img{
  width: 100%;
  background-image: linear-gradient(to top, black, white);
}

.texto-quemsomos{
  margin-top: 50px;
}