* {
    font-family: 'Lato', sans-serif;
    margin:0px;
  }



.fontebranca {
    color: #fff;
}

.fundoindigo {
  background-color: #40026C;
  color: #fff;
}


.fundochocolate {
  background-color: #191308;
  color: #fff;
}

.fundochocolate:hover {
  background-color: #d72638;
  color: #fff;
}